.container{
    width:500px;
    height:200px;
    background-color: rgb(64, 124, 255);
}

.title{
    font-size: 30px;
    font-weight: bold;
    /* background-color: rgb(218, 236, 236); */
}

.center{
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    top:32px;
    left: 0px;
    padding-left: 10px;
    /* background-color: rgb(218, 236, 236); */
}